html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  font-size: 5rem;
  margin: 0;
}

.sections {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: bisque;
}

.sections:nth-child(2),
.sections:last-child {
  background-color: beige;
}
